.header {
  background-color: rgba(243, 241, 241, 0.945);
  padding: 9px;
  font-family: Apercu;
  font-size: 15px;
}

.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: block;
  align-content: center;
}

.li a {
  display: inline-block;
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 10px;
  align-items: center;
}

li a:hover {
  background-color: #111111;
  color: white;
}
